Repository sgbilod/faceless-youtube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @owner-username, @backend-team, @database-team, @api-team, @documentation-team, @devops-team, @qa-team, @legal-team, @security-team

.github/CODEOWNERS:

# Code Owners

# These owners will be requested for review when someone opens a pull request.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback)
* @owner-username

# Core application code
/src/ @backend-team
/src/core/ @database-team
/src/api/ @api-team
/src/services/ @backend-team

# Database & Migrations
/alembic/ @database-team
/src/core/models.py @database-team
/src/core/database.py @database-team
/docs/DATABASE.md @database-team

# Documentation
/docs/ @documentation-team
*.md @documentation-team

# CI/CD & Infrastructure
/.github/ @devops-team
/docker/ @devops-team
docker-compose.yml @devops-team
Dockerfile* @devops-team
.dockerignore @devops-team

# Configuration
requirements.txt @backend-team @devops-team
.env.example @devops-team
alembic.ini @database-team @devops-team

# Tests
/tests/ @qa-team
conftest.py @qa-team

# Security
/legal/ @legal-team @security-team
SECURITY.md @security-team

# Scripts
/scripts/ @devops-team
/scripts/test_database.py @database-team

# Frontend (when added)
# /client/ @frontend-team
# /ui/ @frontend-team

# AI/ML Components (when added)
# /src/ai/ @ml-team
# /src/services/script_generator/ @ml-team
# /src/services/asset_selector/ @ml-team

docs: refine GitHub templates and contribution guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  SECURITY.md
Owners: @devops-team, @documentation-team, @security-team

docs: add grand executive summary
  GRAND_EXECUTIVE_SUMMARY.md
Owners: @documentation-team

feat: complete Alembic migration management system
  scripts/db_migrate.py
  scripts/db_rollback.py
  scripts/db_status.py
  scripts/seed_database.py
  src/core/database.py
Owners: @devops-team, @database-team

feat: implement Redis caching layer with in-memory fallback
  .env.example
  docs/CACHING.md
  examples/cache_usage.py
  requirements.txt
  src/utils/__init__.py
  src/utils/cache.py
  tests/unit/test_cache.py
Owners: @devops-team, @documentation-team, @owner-username, @backend-team, @qa-team

update: add and update new files
  .env.example
  alembic.ini
  assets/fallback_nature.mp4
  docs/ASSET_SCRAPER.md
  docs/CACHING.md
  examples/asset_scraper_usage.py
  faceless_video_app.py
  output_videos/video_20250531_131421.txt
  output_videos/video_20250531_133222.txt
  output_videos/video_20250531_164102.txt
  requirements.txt
  run_faceless_app.bat
  setup_faceless_youtube.bat
  src/services/asset_scraper/__init__.py
  src/services/asset_scraper/base_scraper.py
  src/services/asset_scraper/pexels_scraper.py
  src/services/asset_scraper/pixabay_scraper.py
  src/services/asset_scraper/scraper_manager.py
  src/services/asset_scraper/unsplash_scraper.py
  tests/unit/test_asset_scraper.py
Owners: @devops-team, @database-team, @owner-username, @documentation-team, @backend-team, @qa-team

docs: finalize asset scraper documentation
  docs/ASSET_SCRAPER.md
Owners: @documentation-team

feat: implement AI-powered script generation service (Task #6)
  docs/SCRIPT_GENERATOR.md
  examples/script_generator_usage.py
  src/services/script_generator/__init__.py
  src/services/script_generator/content_validator.py
  src/services/script_generator/ollama_client.py
  src/services/script_generator/prompt_templates.py
  src/services/script_generator/script_generator.py
  tests/unit/test_script_generator.py
Owners: @documentation-team, @owner-username, @backend-team, @qa-team

feat: implement complete video assembly service (Task #7)
  docs/VIDEO_ASSEMBLER.md
  examples/video_assembler_usage.py
  src/services/video_assembler/__init__.py
  src/services/video_assembler/timeline_builder.py
  src/services/video_assembler/tts_engine.py
  src/services/video_assembler/video_assembler.py
  src/services/video_assembler/video_renderer.py
  tests/unit/test_video_assembler.py
Owners: @documentation-team, @owner-username, @backend-team, @qa-team

feat: implement YouTube upload automation service (Task #8)
  docs/YOUTUBE_UPLOADER.md
  examples/youtube_uploader_usage.py
  src/services/youtube_uploader/__init__.py
  src/services/youtube_uploader/analytics.py
  src/services/youtube_uploader/auth_manager.py
  src/services/youtube_uploader/queue_manager.py
  src/services/youtube_uploader/uploader.py
  tests/unit/test_youtube_uploader.py
Owners: @documentation-team, @owner-username, @backend-team, @qa-team

feat(scheduler): Add complete scheduling system for automated content creation
  docs/SCHEDULER.md
  examples/scheduler_usage.py
  src/services/scheduler/__init__.py
  src/services/scheduler/calendar_manager.py
  src/services/scheduler/content_scheduler.py
  src/services/scheduler/job_executor.py
  src/services/scheduler/recurring_scheduler.py
  tests/unit/test_scheduler.py
Owners: @documentation-team, @owner-username, @backend-team, @qa-team

feat(dashboard): complete Task #10 - Web Dashboard with React and FastAPI
  dashboard/index.html
  dashboard/package.json
  dashboard/postcss.config.js
  dashboard/src/App.jsx
  dashboard/src/api/calendar.js
  dashboard/src/api/client.js
  dashboard/src/api/jobs.js
  dashboard/src/api/recurring.js
  dashboard/src/api/statistics.js
  dashboard/src/api/websocket.js
  dashboard/src/components/CreateJobModal.jsx
  dashboard/src/components/Header.jsx
  dashboard/src/components/JobCard.jsx
  dashboard/src/components/JobList.jsx
  dashboard/src/components/Layout.jsx
  dashboard/src/components/Loading.jsx
  dashboard/src/components/ProgressBar.jsx
  dashboard/src/components/Sidebar.jsx
  dashboard/src/components/StatCard.jsx
  dashboard/src/hooks/useJobs.js
  dashboard/src/hooks/useWebSocket.js
  dashboard/src/index.css
  dashboard/src/main.jsx
  dashboard/src/pages/Analytics.jsx
  dashboard/src/pages/Calendar.jsx
  dashboard/src/pages/Dashboard.jsx
  dashboard/src/pages/Jobs.jsx
  dashboard/src/utils/date.js
  dashboard/src/utils/status.js
  dashboard/tailwind.config.js
  dashboard/vite.config.js
  docs/SCHEDULER.md
  docs/SCRIPT_GENERATOR.md
  docs/VIDEO_ASSEMBLER.md
  docs/WEB_DASHBOARD.md
  docs/YOUTUBE_UPLOADER.md
  src/api/__init__.py
  src/api/main.py
Owners: @owner-username, @documentation-team, @api-team

docs(dashboard): add dashboard README with quick start guide
  dashboard/README.md
Owners: @documentation-team

docs: add comprehensive project completion summary
  PROJECT_COMPLETE.md
Owners: @documentation-team

fix: correct project references from DOPPELGANGER STUDIO to Faceless YouTube Automation Platform
  PROJECT_COMPLETE.md
  dashboard/README.md
  docs/WEB_DASHBOARD.md
  faceless-youtube-chat-1.txt
Owners: @documentation-team, @owner-username

feat(phase1): complete Phase 1 assessment with comprehensive diagnostics and unified startup
  .env.example
  .github/instructions/project instructions.txt.instructions.md
  ISSUES_FOUND.md
  PROJECT_INVENTORY.md
  READ.txt
  dashboard/npm_packages.txt
  dependency_audit.md
  dependency_audit_output.txt
  diagnostic_report.txt
  faceless- youtube-directives-1.txt
  faceless-youtube-chat-1.txt
  project instructions.txt
  project_structure.txt
  scripts/audit_dependencies.py
  scripts/diagnostics.py
  src/config/__init__.py
  src/config/master_config.py
  start.bat
  start.py
  start.sh
Owners: @devops-team, @documentation-team, @owner-username, @backend-team

docs(phase2a): add comprehensive 6-prompt guide for critical issue resolution
  docs/phase2a_prompts/00_Copilot_Prompts_INDEX.md
  docs/phase2a_prompts/01_Dependencies_Installation.md
  docs/phase2a_prompts/02_Syntax_Error_Fix.md
  docs/phase2a_prompts/03_Database_Setup.md
  docs/phase2a_prompts/04_Environment_Config.md
  docs/phase2a_prompts/05_YouTube_OAuth.md
  docs/phase2a_prompts/06_System_Verification.md
Owners: @documentation-team

docs(phase2a): add quick start guide for using Phase 2A prompts
  README_PHASE2A_PROMPTS.md
Owners: @documentation-team

fix(video-assembler): resolve await syntax error at line 558
  examples/video_assembler_usage.py
  src/services/video_assembler/video_assembler.py
Owners: @owner-username, @backend-team

docs(phase2a): add Prompt #2 completion report
  PROMPT_02_COMPLETION.txt
Owners: @owner-username

docs(phase2a): create Prompt #3 database setup guide and test script
  PROMPT_03_ACTION_REQUIRED.txt
  PROMPT_03_DATABASE_SETUP_GUIDE.md
  test_databases.py
Owners: @owner-username, @documentation-team

fix(deps): complete Python 3.13 compatibility - 87 packages installed
  PROMPT_01_COMPLETE.md
  PROMPT_01_INSTALLATION.md
  PROMPT_01_PYTHON313_FIXES.md
  PROMPT_01_TORCH_FIX.md
  PROMPT_01_VERIFICATION.md
  monitor_pip_install.ps1
  requirements.txt
Owners: @documentation-team, @owner-username, @backend-team, @devops-team

feat(config): complete Prompt #4 environment configuration
  PROMPT_03_POSTGRESQL_PASSWORD_FIX.md
  PROMPT_04_API_KEYS_GUIDE.md
  PROMPT_04_COMPLETE.md
  fix_postgresql_password_admin.ps1
  test_env_config.py
Owners: @documentation-team, @owner-username

feat(config): complete Prompt #4 environment configuration
  API Key.txt
  Faceless YouTube Automation Platform - Phase 2A Critical Fixes.txt
  PROMPT_01_VERIFICATION.md
  PROMPT_03_DATABASE_SETUP_GUIDE.md
  PROMPT_03_POSTGRESQL_PASSWORD_FIX.md
  PROMPT_04_API_KEYS_GUIDE.md
  PROMPT_04_COMPLETE.md
  README_PHASE2A_PROMPTS.md
  couldoauth.txt
  docs/phase2a_prompts/00_Copilot_Prompts_INDEX.md
  docs/phase2a_prompts/01_Dependencies_Installation.md
  docs/phase2a_prompts/02_Syntax_Error_Fix.md
  docs/phase2a_prompts/03_Database_Setup.md
  docs/phase2a_prompts/04_Environment_Config.md
  docs/phase2a_prompts/05_YouTube_OAuth.md
  docs/phase2a_prompts/06_System_Verification.md
  faceless-youtube-chat-2.txt
  find_postgres_password.ps1
  fix_postgresql_password_admin.ps1
  fix_postgresql_simple.ps1
  terminal-faceless.txt
  test_auth.py
  test_env_config.py
Owners: @owner-username, @documentation-team

SECURITY: Remove API key files and enhance .gitignore
  .gitignore
  API Key.txt
  AUDIT_SECTIONS_4_6.md
  AUDIT_SECTIONS_7_10.md
  COMPREHENSIVE_AUDIT_REPORT.md
  Project Instructions Claude review.txt
  Project_Instructions_BACKUP_[10042025].md
Owners: @owner-username, @documentation-team

PHASE 1: Implement JWT auth and rate limiting
  .env.example
  POSTGRESQL_ISSUE.md
  TEST_STATUS_REPORT.md
  faceless_video_app.py
  pytest.ini
  src/api/auth.py
  src/api/main.py
  src/services/scheduler/content_scheduler.py
  src/services/video_assembler/video_renderer.py
  tests/unit/test_scheduler.py
  tests/unit/test_youtube_uploader.py
Owners: @devops-team, @documentation-team, @owner-username, @api-team, @backend-team, @qa-team

PHASE 1 COMPLETE: Task 8 - Security vulnerability scanning and audit
  POSTGRESQL_ISSUE.md
  SECURITY_AUDIT.md
  TEST_STATUS_REPORT.md
  bandit_report.txt
  safety_report.json
Owners: @documentation-team, @owner-username

docs: Add Phase 1 completion report with comprehensive metrics and roadmap
  PHASE_1_COMPLETION_REPORT.md
Owners: @documentation-team

fix(diagnostics): Update moviepy.editor to moviepy for compatibility with MoviePy 2.x
  scripts/diagnostics.py
Owners: @devops-team

Phase 2 WS1.1: Patch critical CVEs - authlib, keras, remove future
  DEPENDENCY_UPDATE_REPORT.md
  requirements_new.txt
Owners: @documentation-team, @owner-username

Phase 2 WS1.2 & WS2.1: Create Pydantic Timeline/Scene classes and update package exports
  DEPENDENCY_UPDATE_REPORT.md
  PHASE_1_COMPLETION_REPORT.md
  SECURITY_AUDIT.md
  src/services/script_generator/__init__.py
  src/services/video_assembler/__init__.py
  src/services/video_assembler/timeline.py
Owners: @documentation-team, @backend-team

Phase 2 WS2.2: Fix Pydantic v2 and APScheduler compatibility in scheduler
  src/services/scheduler/content_scheduler.py
  src/services/scheduler/recurring_scheduler.py
Owners: @backend-team

Phase 2 WS2.3: Fix video_assembler Scene imports and MoviePy compatibility
  src/services/video_assembler/video_renderer.py
  tests/unit/test_video_assembler.py
Owners: @backend-team, @qa-team

Phase 2 WS2.4: Fix cache and youtube_uploader test failures
  src/services/youtube_uploader/analytics.py
  tests/unit/test_cache.py
  tests/unit/test_youtube_uploader.py
Owners: @backend-team, @qa-team

Phase 2 WS2.4: Add comprehensive integration test suite
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_api_integration.py
  tests/integration/test_database_integration.py
  tests/integration/test_video_pipeline.py
Owners: @qa-team

Phase 2 Complete: Security hardening to 95%+ production readiness
  .env.example
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  bandit_report.txt
  requirements.txt
  src/api/main.py
  src/api/metrics.py
  src/api/middleware/__init__.py
  src/api/middleware/logging.py
  src/api/middleware/security.py
  src/api/validators.py
  src/config/master_config.py
  src/core/database.py
  src/services/asset_scraper/base_scraper.py
  src/services/video_assembler/tts_engine.py
  src/utils/audit_log.py
  src/utils/cache.py
  src/utils/logging_config.py
Owners: @devops-team, @documentation-team, @owner-username, @backend-team, @api-team, @database-team

Phase 2: Fix integration test fixtures - 77% coverage achieved
  PHASE2_COMPLETION_SUMMARY.md
  PHASE2_SECURITY_SUMMARY.md
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  TEST_FAILURE_ANALYSIS.md
  src/utils/cache.py
  tests/integration/conftest.py
  tests/integration/test_database_integration.py
  tests/integration/test_video_pipeline.py
  tests/unit/test_asset_scraper.py
Owners: @documentation-team, @backend-team, @qa-team

Phase 3: Fix 6 unit test failures - 80% coverage achieved
  PHASE2_COMPLETION_SUMMARY.md
  src/services/scheduler/job_executor.py
  src/services/video_assembler/timeline.py
  tests/unit/test_scheduler.py
Owners: @documentation-team, @backend-team, @qa-team

docs: Add Phase 3 completion summary
  PHASE3_COMPLETION_SUMMARY.md
Owners: @documentation-team

feat(api): Implement FastAPI REST API with full Video CRUD endpoints - Phase 4
  PHASE3_COMPLETION_SUMMARY.md
  src/api/auth.py
  src/api/main.py
  tests/integration/conftest.py
  tests/integration/test_api_integration.py
Owners: @documentation-team, @api-team, @qa-team

Refactor code structure for improved readability and maintainability
  output_audio/45e82be769771908.wav
  output_audio/4ab91607fbc466a5.wav
  output_audio/de51963ca0a5b8e0.wav
  src/services/script_generator/script_generator.py
  tests/unit/test_asset_scraper.py
  tests/unit/test_script_generator.py
  tests/unit/test_video_assembler.py
  tests/unit/test_youtube_uploader.py
Owners: @owner-username, @backend-team, @qa-team
